@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,400&display=swap');

* {
   margin:0;
   border:0;
   padding:0;
   box-sizing:border-box;
}

body {
   display:flex;
   justify-content:center;
   width:100vw;
   height:100vh;
   background:black;
}

section, header, nav, .lista-projetos.active {
   position:absolute;
}

section, header {
   width:100vw;
}

section a, header a {
   text-decoration:none;
}

section {
   height:100vh;
   bottom:0;
   display:flex;
   justify-content:center;
   align-items:center;
}

header, .lista-projetos.active {
   background:#154785;
}

header {
   display:flex;
   justify-content:space-between;
   align-items:center;
   padding:5px;
   font-size:25px;
   color:#F2F2F2;
   letter-spacing:3px;
   top:0;
   height:50px;
}

header h1 {
   font-family:'Stick No Bills', sans-serif;
}

header h1 span {
   position:absolute;
   font-size:42px;
   margin-top:-6px;
   margin-left:3px;
   animation:coding 1.6s infinite;
}

header nav {
   right:0px;
   width:50px;
   height:50px;
   border-radius:10px;
   box-sizing:border-box;
   display:flex;
}

header #menu-burguer, #fecha-menu-burguer {
   border:none;
   background:none;
   cursor:pointer;
   opacity:.9;
}

header #menu-burguer #burguer {
   border-top:3px solid;
   border-radius:2px;
   display:block;
   width:30px;
   position:relative;
   left:10px;
   color:#F2F2F2;
}

#burguer::after, #burguer::before {
   position:relative;
   border-radius:2px;
   content:'';
   display:block;
   height:3px;
   margin-top:9px;
   background:currentColor;
}

header .lista-projetos {
   display:none;
}

.fecha-menu-por-fora {
   position:absolute;
   width:100vw;
   height:100vh;
   background:rgba(0,0,0,.6);
   display:none;
   top:0;
   left:0;
}

header nav .lista-projetos.active {
   list-style:none;
   display:block;
   width:30vw;
   height:100vh;
   right:0px;
   top:0px;
   overflow-y:auto;
   background:#F2F2F2;
   padding:20px;
   font-family: 'Fira Sans', sans-serif;
   font-size:18px;
   
}

.lista-projetos.active #fecha-menu-burguer {
   opacity:.7;
   position:absolute;
   top:9px;
   margin-left:0px;
   width:30px;
   height:30px;
   border-radius:5px;
   display:flex;
   cursor:pointer;
}

.lista-projetos.active #fecha-menu-burguer:hover {
   opacity:1;
}

.lista-projetos.active #burguer {
   border-top-color:transparent;
}

.lista-projetos.active #burguer::before {
   transform:rotate(131deg);
   background:black;
   width:23px;
   height:2px;
   top:5.5px;
   left:4px;
}

.lista-projetos.active #burguer::after {
   transform:rotate(-131deg);
   background:black;
   width:23px;
   height:2px;
   top:-5px;
   left:4px;
}

.lista-projetos.active #fecha-menu {
   opacity:1;
}

.lista-projetos.active .yourself {
   letter-spacing:1px;
   font-size:14px;
   text-align:center;
   opacity:1;
   color:black;
}

header .lista-projetos.active li {
   display:block;
   margin-top:90px;
}

header li:hover {
   opacity:1;
}

header .lista-projetos.active a {
   color:black;
   opacity:.7;
}

header .lista-projetos.active a:hover {
   opacity:1;
}

@keyframes coding {
   0% {
      opacity:0;
   }

   50% {
      opacity:1;
   }

   100% {
      opacity:0;
   }
}