@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

* {
   margin:0;
   padding:0;
   border:0;
   box-sizing:border-box;
}

body {
   width:100vw;
   height:100vh;
   font-family:'Basic', sans-serif;;
   display:flex;
   justify-content:center;
   background-color:#f5d020;
   background:rgba(0,0,0,1);
   overflow-x:hidden;
   scrollbar-width:thin;
   scrollbar-color:black;
}

body::-webkit-scrollbar {
   width:9px;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar-thumb {
   border-radius:5px 2px 2px 5px;
}

body::-webkit-scrollbar-track {
   background:black;
}

body::-webkit-scrollbar-thumb {
   background:#F2F2F2;
   border:3px solid #F2F2F2;
}

#background-image {
   position:fixed;
   width:100vw;
   height:100vh;
   top:0;
   left:0;
   object-fit:cover;
   animation:fundo-borrado 3.2s forwards;
   opacity:.8;
}

section {
   width:100vw;
   position:absolute;
}

header {
   display:flex;
   justify-content:space-between;
   align-items:center;
   width:100vw;
   position:absolute;
   padding:3px 3px 1px 15px;
   background:#47180B;
   border-radius:0rem 0rem 1rem 1rem;
   color:#F2F2F2;
   box-shadow:0px 0px 3px solid rgba(0,0,0,.8);
   left:0px;
   top:0px;
}

header h1, .autores.active li {
   opacity:.7;
}

header h1 {
   font-size:35px;
   letter-spacing:8px;
   font-family:'Kalam', cursive;
}

header #fontes-imagens-site {
   width:25px;
   height:25px;
   position:absolute;
   right:120px;
   cursor:pointer;
}

header nav {
   right:19px;
   width:30px;
   height:30px;
   border-radius:10px;
   box-sizing:border-box;
   display:flex;
}

.fecha-menu-por-fora {
   position:fixed;
   width:100vw;
   height:100vh;
   display:none;
   left:0;
   top:0;
   background:rgba(0,0,0,.6);
}

header #menu {
   width:40px;
   height:40px;
   border-radius:10px;
   position:absolute;
}

#menu #menu-burguer, #fecha-menu-por-x {
   border:none;
   background:none;
   cursor:pointer;
   opacity:.9;
}

#menu #menu-burguer #burguer {
   border-top:3px solid;
   color:#F2F2F2;
   width:30px;
   display:block;
   position:relative;
   left:5px;
   top:0px;
   border-radius:2px;
}

#menu #burguer::after, #burguer::before {
   position:relative;
   border-radius:2px;
   content:'';
   height:3px;
   margin-top:9px;
   background:currentColor;
   display:block;
}

.autores.active #fecha-menu-por-x {
   opacity:.7;
   position:absolute;
   width:30px;
   height:30px;
   border-radius:5px;
   display:flex;
   cursor:pointer;
   margin-left:0px;
   margin-top:9px;
}

.autores.active #fecha-menu-por-x:hover {
   opacity:1;
}

.autores.active #fecha-menu-por-x #burguer {
   border-top-color:transparent;
}

.autores.active #fecha-menu-por-x #burguer::before {
   transform:rotate(131deg);
   background:black;
   width:23px;
   height:2px;
   top:5.5px;
   left:4px;
}

.autores.active #fecha-menu-por-x #burguer::after {
   transform:rotate(-131deg);
   background:black;
   width:23px;
   height:2px;
   top:-5px;
   left:4px;
}

.autores {
   display:none;
}

.autores.active {
   position:absolute;
   top:-15px;
   right:-9px;
   list-style:none;
   text-decoration:none;
   display:block;
   border-radius:0px 0px 0px 1rem;
   overflow-y:auto;
   padding:10px;
   height:380px;
   width:25vw;
   color:black;
   background-color:#F2F2F2;
}

.autores.active li {
   display:block;
   margin-top:65px;
   font-size:18px;
   letter-spacing:2px;
   cursor:pointer;
}

.autores.active .clarice {
   margin-top:80px;
}

.autores.active .github {
   display:block;
   margin:auto;
   width:25px;
   height:25px;
   margin-top:50px;
   border-radius:10px;
   opacity:.7;
}

.autores.active .github:hover {
   opacity:1;
}

.autores.active li:hover {
   opacity:1;
}

section #container-clarice, #container-assis, #container-ariano {
   width:100vw;
   height:45px;
   display:flex;
   justify-content:center;
}

section #container-clarice {
   margin-top:130px;
}

section #container-assis, #container-ariano{
   margin-top:60px;
}

section .titulo {
   color:#F2F2F2;
   letter-spacing:4px;
   padding:5px 13px 5px 15px;
   font-size:15px;
   text-align:center;
   border-radius:1rem 0rem 1rem 0rem;
}

section #titulo-clarice {
   width:270px;
   background:url('https://i.ibb.co/xFqmM2K/clarice-min.jpg') center;
}

section #titulo-assis {
   background:url('https://i.ibb.co/YLbqf7V/assis-min.jpg') center;
   color:#473838;
}

section #titulo-ariano {
   background:url('https://i.ibb.co/xHxdF6V/ariano-min.jpg') center;
}

section article {
   overflow-x:hidden;  
   padding-top:20px;
   display:flex;
   width:100vw;
   height:430px;
   margin-top:20px;
}

section .assis-livros, .ariano-livros {
   margin-top:20px;
}

section .ariano-livros {
   margin-bottom:100px;
}

section article figure {
   display:block;
   margin-left:30px;
   cursor:pointer;
   height:410px;
   letter-spacing:3px;
   text-align:center;
   color:#F2F2F2;
}

.primeira-img {
   margin-left:20px;
}

section article img {
   width:200px;
   height:350px;
   border-radius:3rem 1rem 5rem 1rem;
   transition:.3s;
}

article img:hover {
   border-radius:0rem 0rem 6rem 1rem;
   transform:scale(1.1);
   transition:.5s;
}

article figcaption {
   font-size:15px;
   margin-top:15px;
}

#imersao-dev {
   display:flex;
   justify-content:center;
   align-items:center;
   position:fixed;
   bottom:0;
   font-size:23px;
   padding:10px 15px 5px 15px;
   border-radius:2rem 2rem 0rem 0rem;
   color:#F2F2F2;
   background:black;
}

.imersao, .dev, .code {
   opacity:.9;
}

.imersao, .dev {
   position:relative;
   letter-spacing:2px;
}

.imersao {
   left:-2px;
}

.dev {
   left:2px;
   top:1px;
   background:#962405;
   border-radius:1rem 2rem 2rem 0rem;
   padding:0px 5px 0px 5px;
   width:73px;
}

.code {
   position:absolute;
   display:block;
   width:18px;
   font-size:18px;
   margin-top:-24px;
   margin-left:43px;
   animation:pisca-code 1.5s infinite;
}

@keyframes pisca-code {
   0% {
      opacity:0;
   }

   50% {
      opacity:1;
   }

   100% {
      opacity:0;
   }
}

@keyframes fundo-borrado {
   0% {
      filter:blur(0px);
   }

   20% {
      filter:blur(1px);
   }

   40% {
      filter:blur(2px);
   }

   60% {
      filter:blur(3px);
   }

   80% {
      filter:blur(4px);
   }

   100% {
      filter:blur(5px);
   }
}

