@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

* {
   margin:0;
   padding:0;
   border:0;
   box-sizing:border-box;
}

body {
   width:100vw;
   height:100vh;
   font-family:'Basic', sans-serif;;
   display:flex;
   justify-content:center;
   background-color:#f5d020;
   background:rgba(0,0,0,1);
   overflow-x:hidden;
}

#background-image {
   position:fixed;
   width:100vw;
   height:100vh;
   top:0;
   left:0;
   object-fit:cover;
   filter:blur(10px);
   opacity:.8;
}

section {
   width:100vw;
   display:flex;
   justify-content:center;
   position:absolute;
}

section header {
   display:flex;
   justify-content:space-between;
   align-items:center;
   width:100vw;
   position:absolute;
   padding:3px 3px 1px 3px;
   background:rgb(172, 120, 23);
   border-radius:0rem 0rem 1rem 1rem;
   color:#F2F2F2;
   box-shadow:0px 0px 3px solid rgba(0,0,0,.8);
}

header h1, .autores.active li {
   opacity:.7;
}

header h1 {
   font-size:35px;
   letter-spacing:8px;
   font-family:'Kalam', cursive;
}

#menu {
   position:absolute;
   top:0px;
   right:0px;
}

.autores {
   display:none;
}

.autores.active {
   position:absolute;
   top:0px;
   right:.5px;
   list-style:none;
   text-decoration:none;
   display:block;
   overflow-y:auto;
   padding:10px;
   height:100vh;
   width:23vw;
   background-color:#f5d020;
   background-image:linear-gradient(315deg, #f5d020 0%, #f53803 84%);
}

.autores.active li {
   display:block;
   margin-top:85px;
   font-size:18px;
   letter-spacing:2px;
   cursor:pointer;
}

.autores.active .drummond {
   width:170px;
}

.autores.active .github {
   display:block;
   margin:auto;
   width:25px;
   height:25px;
   margin-top:30px;
   border-radius:10px;
   opacity:.7;
}

.autores.active .github:hover {
   opacity:1;
}

.autores.active li:hover {
   opacity:1;
}

.cobre-tela {
   display:none;
}

.cobre-tela.active {
   display:block;
   width:100vw;
   height:100vh;
   position:absolute;
   background:rgba(0,0,0,.5);
}

section article {
   margin-top:100px;
   overflow-x:hidden;
}

section .clarice-livros {
   display:flex;
}

section article figure {
   display:block;
   margin-left:30px;
   cursor:pointer;
   height:410px;
   font-size:17px;
   letter-spacing:3px;
   text-align:center;
   color:#F2F2F2;
}

.estrela-clarice {
   margin-left:0px;
}

section article img {
   width:200px;
   height:350px;
   border-radius:3rem 1rem 5rem 1rem;
}

article img:hover {
   border-radius:0rem 0rem 6rem 6rem;
}

article figcaption {
   background:#B4755A;
   padding:5px 10px 5px 10px;
   border-radius:0rem 6rem 6rem 6rem;
}

#imersao-dev {
   display:flex;
   justify-content:center;
   align-items:center;
   position:fixed;
   bottom:0;
   font-size:23px;
   padding:10px;
   border-radius:2rem 2rem 0rem 0rem;
   color:#F2F2F2;
}

.imersao, .dev, .code {
   opacity:.9;
}

.imersao, .dev {
   position:relative;
   letter-spacing:2px;
}

.imersao {
   left:-2px;
}

.dev {
   left:2px;
   top:1px;
   background:#962405;
   border-radius:1rem 2rem 2rem 0rem;
   padding:0px 5px 0px 5px;
   width:73px;
}

.code {
   position:absolute;
   display:block;
   width:18px;
   font-size:19px;
   margin-top:-24px;
   margin-left:43px;
   animation:pisca-code 1.5s infinite;
}

@keyframes pisca-code {
   0% {
      opacity:0;
   }

   50% {
      opacity:1;
   }

   100% {
      opacity:0;
   }
}

