@charset 'UTF-8';

@media (max-width:970px) {
   section {
      width:400px;
   }

   .imersao {
      padding:5px 16px 10px 20px;
      font-size:16px;
      letter-spacing:2px;
   }

   .dev {
      padding:2px 0px 2px 5px;
      width:55px;
   }

   .espaco-cima {

   }

   .espaco-esquerdo {

   }

   .code {
      top:1px;
      font-size:15px;
   } 
}

@media (max-width:700px) {
   section {
      width:90vw;
   }
}